<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.mapper.BoardMapper">

    <!-- BoardVO와 매칭되는 resultMap 정의 -->
    <resultMap id="boardResultMap" type="egovframework.vo.BoardVO">
        <result property="boardPk" column="board_pk"/>
        <result property="boardTitle" column="board_title"/>
        <result property="boardDescription" column="board_description"/>
        <result property="boardFileName" column="board_file_name"/>
        <result property="boardFilePath" column="board_file_path"/>
        <result property="boardPassword" column="board_password"/>
        <result property="boardRegDate" column="board_reg_date"/>
        <result property="userPk" column="user_pk"/>
        <result property="seminarPk" column="seminar_pk"/>
    </resultMap>

    <!-- 게시글 등록 -->
    <insert id="insertBoard" parameterType="egovframework.vo.BoardVO">
        INSERT INTO board 
            (board_title, board_description, board_password, board_file_name, board_file_path, board_reg_date, user_pk, seminar_pk)
        VALUES 
            (#{boardTitle}, #{boardDescription}, #{boardPassword} , #{boardFileName}, #{boardFilePath}, NOW(), #{userPk}, #{seminarPk})
    </insert>

    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="egovframework.vo.BoardVO">
        UPDATE board
        SET board_title = #{boardTitle},
            board_description = #{boardDescription},
            board_password = #{boardPassword},
            board_file_name = #{boardFileName},
            board_file_path = #{boardFilePath},
            user_pk = #{userPk},
            seminar_pk = #{seminarPk}
        WHERE board_pk = #{boardPk}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteBoard">
        DELETE FROM board WHERE board_pk = #{boardPk}
    </delete>

    <!-- 특정 게시글 조회 -->
    <select id="selectBoard" parameterType="long" resultMap="boardResultMap">
        SELECT board_pk, board_title, board_description, board_password, board_file_name, board_file_path, board_reg_date, user_pk, seminar_pk
        FROM board
        WHERE board_pk = #{boardPk}
    </select>

    <!-- 게시글 목록 조회 -->
    <select id="selectBoardList" parameterType="egovframework.vo.BoardVO" resultType="egovMap">
	    SELECT 
	        b.board_pk, 
	        b.board_title, 
	        b.board_description, 
	        b.board_reg_date, 
	        b.user_pk,
	        COALESCE(u.user_name, '비회원') AS user_name,  <!-- user_name이 null이면 '정보 없음'으로 처리 -->
	        COALESCE(s.seminar_name, '기타') AS seminar_name,  <!-- user_name이 null이면 '정보 없음'으로 처리 -->
	    	COALESCE(COUNT(c.comment_pk), 0) AS comment_count
	    FROM board b
	    LEFT JOIN user u ON b.user_pk = u.user_pk  <!-- LEFT JOIN을 사용하여 일치하는 값이 없을 경우에도 결과를 반환 -->
	    LEFT JOIN seminar s ON b.seminar_pk = s.seminar_pk  <!-- LEFT JOIN을 사용하여 일치하는 값이 없을 경우에도 결과를 반환 -->
	    LEFT JOIN comment c ON b.board_pk = c.board_pk
	    WHERE 1=1
	    <if test="searchKeyword != null and searchKeyword != ''">
	        <choose>
	            <when test="searchCondition == 0">
	                AND b.board_title LIKE CONCAT('%', #{searchKeyword}, '%')
	            </when>
	            <when test="searchCondition == 1">
	                AND b.board_description LIKE CONCAT('%', #{searchKeyword}, '%')
	            </when>
	        </choose>
	    </if>
	    GROUP BY b.board_pk, u.user_name, s.seminar_name
	    ORDER BY b.board_pk DESC
	    LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
	</select>



    <!-- 게시글 총 개수 조회 -->
    <select id="selectBoardListTotCnt" parameterType="egovframework.vo.BoardVO" resultType="int">
        SELECT COUNT(*) AS totcnt
        FROM board
        WHERE 1=1
        <if test="searchKeyword != null and searchKeyword != ''">
            <choose>
                <when test="searchCondition == 0">
                    AND board_title LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
                <when test="searchCondition == 1">
                    AND board_description LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
            </choose>
        </if>
    </select>

</mapper>
