<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egovframework.mapper.ReserveMapper">

	<resultMap id="ReserveResultMap" type="egovframework.vo.ReserveVO">
	    <result column="reservation_pk" property="reservationPk"/>
	    <result column="reservation_name" property="reservationName"/>
	    <result column="reservation_phone" property="reservationPhone"/>
	    <result column="reservation_email" property="reservationEmail"/>
	    <result column="reservation_birth" property="reservationBirth"/>
	    <result column="reservation_number" property="reservationNumber"/>
	    <result column="reservation_status" property="reservationStatus"/>
	    <result column="reservation_time" property="reservationTime"/>
	    <result column="user_pk" property="userPk"/>
	    <result column="user_name" property="userName"/>
	    <result column="seminar_pk" property="seminarPk"/>
	    <result column="seminar_name" property="seminarName"/>
    </resultMap>
    
    <insert id="insertReservation" >
        INSERT INTO reservation (
            reservation_pk, reservation_name, reservation_phone, reservation_email, reservation_birth,
            reservation_number, reservation_login, reservation_status, reservation_time,
            user_pk, seminar_pk
        ) VALUES (
            #{reservationPk} ,#{reservationName}, #{reservationPhone}, #{reservationEmail}, #{reservationBirth},
            #{reservationNumber}, #{reservationLogin}, 'APPLYING', NOW(),
            #{userPk}, #{seminarPk}
        )
    </insert>
    
    <!-- 예약 조회 -->
    <select id="selectReservationList" resultMap="ReserveResultMap">
	    SELECT 
	        r.*, 
	        u.user_name
	    FROM reservation r
	    LEFT JOIN user u ON r.user_pk = u.user_pk
	    WHERE r.seminar_pk = #{seminarPk}
	    ORDER BY r.reservation_time DESC
	</select>
    
    <!-- <select id="selectReservationList" resultMap="ReserveResultMap">
        SELECT * FROM reservation
        WHERE seminar_pk = #{seminarPk}
        ORDER BY reservation_time DESC
    </select> -->
    
    <select id="userReservationList" resultMap="ReserveResultMap">
	    SELECT 
	        r.*,
	        s.seminar_pk, s.seminar_name
	    FROM reservation r
	    LEFT JOIN seminar s ON r.seminar_pk = s.seminar_pk
	    WHERE r.user_pk = #{userPk}
	    ORDER BY r.reservation_time DESC
	</select>
    
 <!--    <select id="userReservationList" resultMap="ReserveResultMap">
        SELECT * FROM reservation
        WHERE user_pk = #{userPk}
        ORDER BY reservation_time DESC
    </select> -->

    <!-- 특정 예약 상세 조회 -->
    <select id="selectReservationById" parameterType="long" resultMap="ReserveResultMap">
        SELECT * FROM reservation WHERE reservation_pk = #{reservationPk}
    </select>
    
    <select id="findReservation" resultMap="ReserveResultMap">
    	SELECT *
    	FROM reservation
    	WHERE reservation_pk = #{reservationPk}
    	AND reservation_email = #{reservationEmail}
    </select>

    <!-- 예약 승인 -->
    <!-- <update id="approveReservation" parameterType="long">
        UPDATE reservation SET reservation_status = 'PROGRESSING'
        WHERE reservation_pk = #{reservationPk}
    </update> -->
    <update id="approveReservation" parameterType="long">
	    UPDATE reservation 
	    SET reservation_status = 'PROGRESSING'
	    WHERE reservation_pk = #{reservationPk};
	</update>
	
	<update id="updateSeminarCurrentPeople">
	    UPDATE seminar
	    SET seminar_current_people = seminar_current_people + #{reservationNumber}
	    WHERE seminar_pk = #{seminarPk};
	</update>
    

    <!-- 예약 거절 -->
    <update id="rejectReservation" parameterType="long">
        UPDATE reservation SET reservation_status = 'REJECTED'
        WHERE reservation_pk = #{reservationPk}
    </update>

    <!-- 예약 취소 -->
    <delete id="cancelReservation" parameterType="long">
    	DELETE FROM reservation WHERE reservation_pk = #{reservationPk}
    </delete>
    
    <!-- 예약 취소나 거절시 세미나 현재인원 변경 -->
    <update id="changeCurrentPeople">
    	UPDATE seminar
    	SET seminar_current_people = seminar_current_people - #{reservationNumber}
    	WHERE seminar_pk = #{seminarPk};
    </update>
    
    <!-- <update id="cancelReservation" parameterType="long">
        UPDATE reservation SET reservation_status = 'CANCELED'
        WHERE reservation_pk = #{reservationPk}
    </update> -->

</mapper>
